<router-outlet></router-outlet>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" 
        *ngIf="currentPage > 1"
        (click)="goToPage(currentPage-1)"
        [routerLink]="['page', currentPage-1]">Previous</a>
      </li>

      <div *ngFor="let page of pages">
        <li class="page-item"><a class="page-link" [routerLink]="['page', page]" routerLinkActive="active" (click)="updateCurrentPage(page)">{{ page }}</a></li>
      </div>

      <li class="page-item">
        <a class="page-link" *ngIf="currentPage < end" 
        (click)="updateCurrentPage(currentPage+1)" 
        [routerLink]="['page', currentPage+1]" >
        Next</a>
      </li>
    </ul>
</nav>