<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
          <div formGroupName="questionData">
            <div class="form-group">
                <label for="name">Question name</label>
                <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control">
                <span
                  *ngIf="questionForm.get('questionData')?.get('name')?.invalid && questionForm.get('questionData')?.get('name')?.touched">
                  please Enter a valid name
                </span>
            </div>
            <span>Question level</span>
            <div class="radio" *ngFor="let level of levels">
                <label>
                  <input
                    type="radio"
                    formControlName="level"
                    [value]="level">{{ level }}
                </label>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input
                    type="text"
                    id="category"
                    formControlName="category"
                    class="form-control">
                <span
                *ngIf="questionForm.get('questionData')?.get('category')?.invalid && questionForm.get('questionData')?.get('category')?.touched">
                  please Enter a valid category
                </span>
            </div>
            <div class="form-group">
                <label for="subCategory">Sub category</label>
                <input
                    type="text"
                    id="subCategory"
                    formControlName="subCategory"
                    class="form-control">
                <span
                *ngIf="questionForm.get('questionData')?.get('subCategory')?.invalid && questionForm.get('questionData')?.get('subCategory')?.touched">
                  please Enter a valid sub Category
                </span>
            </div>
            <div class="form-group">
                <label for="mark">Points</label>
                <input
                    type="number"
                    id="mark"
                    formControlName="mark"
                    class="form-control">
                <span
                *ngIf="questionForm.get('questionData')?.get('mark')?.invalid && questionForm.get('questionData')?.get('mark')?.touched">
                  please Enter a valid mark
                </span>
            </div>
            <div class="form-group">
                <label for="expectedTime">Time</label>
                <input
                    type="number"
                    id="expectedTime"
                    formControlName="expectedTime"
                    class="form-control">
                  <span
                  *ngIf="questionForm.get('questionData')?.get('expectedTime')?.invalid && questionForm.get('questionData')?.get('expectedTime')?.touched">
                    please Enter a valid expectedTime
                  </span>
            </div>
          </div>
          
          <br>
          <div formGroupName="answerData">
            <button
              class="btn btn-primary"
              type="button"
              (click)="onAddAnswer()"
              [disabled]="!questionForm.get('answerData')?.get('name')?.dirty">Add Answer
            </button>

            <div class="form-group">
                <label for="name">Name</label>
                <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <input
                  type="text"
                  id="description"
                  formControlName="description"
                  class="form-control">
            </div>
          </div>
            <br>
            <div formArrayName="answers">
              <h4>Answers</h4>
              <div
                class="form-group"
                *ngFor="let answerControl of answerControls; let i = index"
                [formGroupName]="i">
                <input type="checkbox" [checked]="answerControl.value.selected" (change)="changeValue(i)">
                <span> {{answerControl.value.name}}</span>
                <p> {{answerControl.value.description}}</p>
              </div>
            </div>
          <br>
          <span
          *ngIf="questionForm.invalid && questionForm.touched">
            please enter valid inputs
          </span>
          <button class="btn btn-primary" type="submit" [disabled]=" questionForm.invalid || !(onCreate || onUpdate)">Submit</button>
          <br>
        </form>
      </div>
    </div>
</div>
  